html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgb(255, 0, 0);
}
html {
    font-family: sans-serif;
   -webkit-text-size-adjust: 100%;
}
* {
 box-sizing: border-box;
}
user agent stylesheet
html {
    display: block;
}
:after, :before {
box-sizing: border-box;
}
:after, :before {
box-sizing: border-box;
}